.h2{
    text-align: center;
    font-size: 2em; font-family: 'Courier New', Courier, monospace;
}
.div{
    background-color: brown;
    border: solid rgb(189, 125, 235) ;
    border-width: 40px;
    border-radius: 15px;
    padding: 29px;
    width: 50%;
    margin-left: 270px;
    margin-bottom: 88px;
    margin-top: 30px;

    
}
.small{
    color: cyan;
}
p{
    color: rgb(99, 247, 136);
    text-align: justify;
}